@font-face {
    font-family: 'Termina Bold';
    src: url('../fonts/Termina-Bold.eot');
    src: url('../fonts/Termina-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Termina-Bold.woff2') format('woff2'),
        url('../fonts/Termina-Bold.woff') format('woff'),
        url('../fonts/Termina-Bold.ttf') format('truetype'),
        url('../fonts/Termina-Bold.svg#Termina-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Termina Light';
    src: url('../fonts/Termina-Light.eot');
    src: url('../fonts/Termina-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Termina-Light.woff2') format('woff2'),
        url('../fonts/Termina-Light.woff') format('woff'),
        url('../fonts/Termina-Light.ttf') format('truetype'),
        url('../fonts/Termina-Light.svg#Termina-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL DW Pica';
    src: url('../fonts/IM_FELL_DW_Pica_Roman.eot');
    src: url('../fonts/IM_FELL_DW_Pica_Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IM_FELL_DW_Pica_Roman.woff2') format('woff2'),
        url('../fonts/IM_FELL_DW_Pica_Roman.woff') format('woff'),
        url('../fonts/IM_FELL_DW_Pica_Roman.ttf') format('truetype'),
        url('../fonts/IM_FELL_DW_Pica_Roman.svg#IM_FELL_DW_Pica_Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Termina Regular';
    src: url('../fonts/Termina-Regular.eot');
    src: url('../fonts/Termina-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Termina-Regular.woff2') format('woff2'),
        url('../fonts/Termina-Regular.woff') format('woff'),
        url('../fonts/Termina-Regular.ttf') format('truetype'),
        url('../fonts/Termina-Regular.svg#Termina-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

