/* Colors */
/* Fonts */
/* Basic Settings */
html {
  font-size: 15px;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.slick-dots li button::before {
  color: #cf2e2e;
}
.slick-dots li.slick-active button::before {
  color: #cf2e2e;
}
.button {
  font-family: 'IM FELL DW Pica', sans-serif;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  word-spacing: 3px;
  letter-spacing: 1px;
  background-color: #d4413f;
  color: #e0e0e0;
}
.button:hover {
  background-color: #b72b29;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: 0 0 0.5rem #cc302e;
          box-shadow: 0 0 0.5rem #cc302e;
}
body {
  background-color: #171717;
  color: #d4413f;
}
/* Typography */
section {
  padding: 6rem 0;
}
.section-header {
  margin-bottom: 5rem;
  font-family: 'Termina Bold', sans-serif;
  font-size: 2rem;
  text-align: center;
}
/* Main */
.main {
  padding: 2rem 0 4rem;
  background: #3d3d3d url(../img/main-bg.jpg) center 0 no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  /* Main Form */
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-bottom: 3rem;
  font-family: 'Termina Bold', sans-serif;
  font-size: 3rem;
}
.main-content h1 #nmt {
  font-family: 'IM FELL DW Pica', sans-serif;
  font-size: 3.4rem;
}
.main-subtitle {
  margin-bottom: 3rem;
  font-family: 'Termina Regular', sans-serif;
  font-size: 2rem;
}
.main #more {
  font-family: 'Termina Light', sans-serif;
  display: inline-block;
  padding: 2rem 3rem;
  background-color: #cf2e2e;
  color: #e0e0e0;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  margin-bottom: 2rem;
}
.main #more::after {
  width: 100%;
  background-color: #e0e0e0;
  content: '';
  display: block;
  height: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.main #more:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.main #more:hover {
  background-color: #ba2929;
  color: #d3d3d3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: 0 0 0.5rem #cc302e;
          box-shadow: 0 0 0.5rem #cc302e;
}
.main-form {
  font-family: 'Termina Light', sans-serif;
  background-color: #171717;
  padding: 1.5rem;
  text-align: center;
}
.main-form-header {
  text-align: right;
  font-size: 2rem;
}
.main-form-input {
  font-family: 'Termina Regular', sans-serif;
  display: block;
  border: 1px solid #cf2e2e;
  width: 100%;
  padding: 0.9rem;
  margin: 0.7rem 0;
  background-color: #171717;
  color: #d4413f;
}
.main-form-input:focus {
  -webkit-box-shadow: 0 0 1rem #cc302e;
          box-shadow: 0 0 1rem #cc302e;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.main-form-btn {
  font-size: 1.2rem;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #d4413f;
  color: #d4413f;
  width: 100%;
}
.main-form-btn:hover {
  background-color: #d4413f;
  border: 1px solid #d4413f;
  color: #e0e0e0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: 0 0 1rem #cc302e;
          box-shadow: 0 0 1rem #cc302e;
}
.main-form small {
  display: block;
  margin-top: 1rem;
  font-size: 0.7rem;
}
.header {
  height: 6rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 6rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.preorder_link {
  display: inline-block;
  font-family: 'Termina Bold', sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  height: 6rem;
  line-height: 6rem;
  text-decoration: none;
  color: #d4413f;
}
.preorder_link::after {
  width: 100%;
  background-color: #d4413f;
  content: '';
  display: block;
  height: 2px;
  position: relative;
  bottom: 30px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.preorder_link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-box-shadow: 0 0 0.5rem #d4413f;
          box-shadow: 0 0 0.5rem #d4413f;
}
.preorder_link:hover {
  color: #d4413f;
  text-shadow: 0 0 0.3rem #d4413f;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
/* Modal window */
.modal-content {
  background-image: url(../img/bg-2.jpg);
  background-color: #242424;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  border-radius: 0;
  border: 1px solid #cf2e2e;
  -webkit-box-shadow: 0 0 2rem #8d2120;
          box-shadow: 0 0 2rem #8d2120;
}
.modal-header {
  border: none;
}
.modal-footer {
  border: none;
}
.modal-footer small {
  font-family: 'Termina Regular', sans-serif;
  font-size: 0.8rem;
}
.modal-title {
  font-family: 'Termina Bold', sans-serif;
  margin: 0 0 0 1rem;
}
.btn-close {
  background-color: #d4413f;
}
/* Maintenance info */
.maintenance {
  text-align: left;
  display: inline-block;
}
.maintenance-header {
  font-family: 'Termina Bold', sans-serif;
  font-size: 1.5;
  margin-bottom: 2rem;
}
.maintenance-info {
  font-family: 'Termina Light', sans-serif;
  font-size: 1.2rem;
}
/* Modal form */
.modal-form {
  display: inline-block;
  text-align: center;
  padding: 1.5rem;
  background-color: #171717;
  opacity: 0.8;
}
.modal-form-header {
  font-size: 2rem;
  text-align: right;
  font-family: 'Termina Regular', sans-serif;
}
.modal-form-input {
  font-family: 'Termina Regular', sans-serif;
  display: inline-block;
  border: 1px solid #cf2e2e;
  width: 100%;
  padding: 0.9rem;
  margin: 0.7rem 0;
  background-color: #171717;
  color: #d4413f;
}
.modal-form-input:focus {
  -webkit-box-shadow: 0 0 1rem #cc302e;
          box-shadow: 0 0 1rem #cc302e;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.modal-form-btn {
  font-size: 1.2rem;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #d4413f;
  color: #d4413f;
  width: 50%;
}
.modal-form-btn:hover {
  background-color: #d4413f;
  border: 1px solid #d4413f;
  color: #e0e0e0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
/* Releases */
.releases-block {
  text-align: center;
  display: inline-block;
  font-family: 'Termina Regular', sans-serif;
  margin: 0.5rem 1rem;
}
.releases-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #d4413f;
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 1rem;
}
.releases-link:hover {
  background-color: #242424;
  color: #e0e0e0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: 0 0 0.5rem #cc302e;
          box-shadow: 0 0 0.5rem #cc302e;
}
.releases-img {
  display: inline-block;
}
.releases-img img {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 1rem;
}
.releases-subtitle {
  font-size: 1rem;
  margin: 1rem 0;
  font-family: 'Termina Bold', sans-serif;
}
.releases-info {
  text-align: left;
  font-size: 1rem;
  font-family: 'Termina Light', sans-serif;
}
.events {
  background-image: url(../img/bg-4.jpg);
  background-color: #471110;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}
.events-block {
  display: inline-block;
  margin: 0.5rem 1rem 3rem 0.5rem;
  background-color: #171717;
  padding: 2rem;
  border-radius: 1.5rem;
}
.events-block h4 {
  font-family: 'Termina Bold', sans-serif;
}
.events-block img {
  width: 100%;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.5rem #cf2e2e;
          box-shadow: 0 0 0.5rem #cf2e2e;
}
.events-tag {
  margin: 1rem 0;
  display: inline-block;
  font-family: 'Termina Bold', sans-serif;
  font-size: 1.3rem;
}
.events-info {
  margin: 0 0 2rem 0;
  font-family: 'Termina Light', sans-serif;
}
.events-button {
  font-family: 'Termina Light', sans-serif;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #cf2e2e;
  color: #e0e0e0;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
}
.events-button::after {
  width: 100%;
  background-color: #e0e0e0;
  content: '';
  display: block;
  height: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.events-button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.events-button:hover {
  background-color: #ba2929;
  color: #d3d3d3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: 0 0 0.5rem #cc302e;
          box-shadow: 0 0 0.5rem #cc302e;
}
/* Media */
@media (max-width: 575px) {
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-content {
    margin-top: 12rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .logo {
    text-align: center;
    margin-bottom: 1rem;
  }
  .preorder_link {
    text-align: center;
    margin: 0 5%;
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-btn {
    padding: 1rem 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199x) {
}
@media (min-width: 1200px) and (max-width: 1439px) {
}
@media (min-width: 1440px) {
}
